/* Cabecalho */
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33px;
}

/* Categoria */
.categorias__lista{
    display: flex;
    row-gap: .5em;
    flex-direction: column;
}

.destaques{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.destaques__barra{
    flex-grow: 1;
}

/* Destaques e Agenda*/

.eventos__lista,
.agenda__lista{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.5rem;
    justify-content: center;
}

.eventos__item,
.agenda__item{
    flex-grow: 1;
}

/* Rodápe */
.rodape{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rodape__logo{
    align-self: flex-end;
}

/* Tela de Tablet Media Query 720px */
@media screen and (min-width: 720px) {
    /* Cabecalho */
    .menu{
        column-gap: 75px;
    }
    /* Categoria */
    .categorias__lista{
        flex-wrap: wrap;
        gap: 1em 1.5em;
    }

    /* Destaques */

    .eventos__lista,
    .agenda__lista{
        justify-content: end;
    }


}

/* Tela de Desktop Media Query 1440px */
@media screen and (min-width:1440px) {
    /* Cabecalho */
    .menu{
        column-gap:105px;
        flex-wrap: nowrap;
    }
    
    .menu__item{
        order: 3;
    }

    .menu__item:nth-child(1){
        order: 1;
    }

    .menu__item:nth-child(5){
        order: 2;
    }

}