.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33px;
}


/* Tela de Tablet Media Query 720px */
@media screen and (min-width: 720px) {
    .menu{
        column-gap: 75px;
    }
}

/* Tela de Desktop Media Query 1440px */
@media screen and (min-width:1440px) {
    .menu{
        column-gap:105px;
        flex-wrap: nowrap;
    }
    
    .menu__item{
        order: 3;
    }

    .menu__item:nth-child(1){
        order: 1;
    }

    .menu__item:nth-child(5){
        order: 2;
    }

}